.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog .book {
    max-width: 300px;
    padding-top: 50px;
}

.catalog .book .price {
    color: red;
    font-size: 1.3em;
    margin-top: -10px;
}